<div class="container">

  <h1>GRE Essay Practice!</h1>
  <div class="btn-group my-4" role="group" aria-label="Toggle between issue and arugment essay prompts">
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="issue"
      [(ngModel)]="promptType"
      (ngModelChange)="updateTopic()"
      value="issue"
      autocomplete="off">
    <label class="btn btn-outline-primary" for="issue">Issue</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="argument"
      [(ngModel)]="promptType"
      (ngModelChange)="updateTopic()"
      value="argument"
      autocomplete="off">
    <label class="btn btn-outline-primary" for="argument">Argument</label>
  </div>

  <div>
    <h2>Instructions:</h2>
    <p>{{ instructions }}</p>
    <h2>Prompt:</h2>
    <p>{{ prompt }}</p>
  </div>

  <div class="mt-5 d-flex justify-content-between">
    <p>Write your response below</p>
  </div>
  <textarea class="form-control" id="response" rows="10"></textarea>

  <div class="d-flex justify-content-end mt-2"><button class="btn btn-primary">Done</button></div>



  <router-outlet></router-outlet>
</div>
